<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Variables Look and Feel Pharma360 -->
    <!-- Los secretos se obtienen de variables de entorno; nunca se almacenan aquí. -->
    <add key="PlantillaLookandFeelP360" value="Lilian"/>
    <add key="ColorTextoBotonSinFocoP360" value="Black"/>
    <add key="ColorTextoBotonCallToActionP360" value="White"/>
    <add key="ColorFondoOpcionSugeridaaSeleccionarCallToActionP360" value="LavenderBlush"/>
    <add key="ColorFondoBotonSinFocoP360" value="PowderBlue"/>
    <add key="ColorFondoBotonCallToActionP360" value="Orange"/>
    <add key="Color_ChartSELLIN_SeriePlan_DashboardsandReportsP360" value="Green"/>
    <add key="Color_ChartSELLIN_SerieVentaActual_DashboardsandReportsP360" value="Brown"/>
    <add key="Color_ChartSELLIN_SerieVentaAnterior_DashboardsandReportsP360" value="LavenderBlush"/>
    <add key="Color_ChartSELLINandSELLOUT_SerieCumplimiento_DashboardsandReportsP360" value="Cyan"/>
    <add key="Color_ChartSELLOUT_SeriePlan_DashboardsandReportsP360" value="Green"/>
    <add key="Color_ChartSELLOUT_SerieVentaActual_DashboardsandReportsP360" value="SteelBlue"/>
    <add key="Color_ChartSELLOUT_SerieVentaAnterior_DashboardsandReportsP360" value="LightCyan"/>
    <add key="Color_ChartAUDITS_SerieDataMercado_DashboardsandReportsP360" value="LemonChiffon"/>
    <add key="Color_ChartAUDITS_SerieDataLaboratorio_DashboardsandReportsP360" value="Indigo"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="P360.Reports.Query" value="SELECT report_id, report_id, report_uid, report_name, report_insight, report_filename, report_type, report_path_source, report_path_output, report_schedule, report_subject_text, report_body_resource_key, report_send_mail, report_send_mail_copy_supervisor FROM P360Insight.V_SCHEDULED_REPORTS"/>
    <add key="P360.InfoColaNotificaciones.Query" value="SELECT cola_notificacion_id, report_id, report_uid, report_name, report_insight, report_type, referencia_evento, referencia_evento_id, cod_colab, nombre_colab, email_colab, cod_sup, nombre_sup, email_sup FROM P360Insight.V_SCHEDULED_REPORTS_COLA_NOTIFICACIONES WHERE report_id = @ReportId ORDER BY cola_notificacion_id ASC"/>
  </appSettings>
  <connectionStrings>
    <!--
      Este nombre se conserva para los TableAdapters generados. El valor real se
      asigna desde P360_CONNECTION_PRINCIPAL antes de ejecutar una consulta.
    -->
    <add name="SchedulerP360Insight.Properties.Settings.CadenaConeccionP360"
         connectionString=""
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
